# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
logs/
*.pt
yolov8*.pt
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# Streamlit
.streamlit/
